<div class="center jumbotron">
  <h1 class="text-center display-3">My Listings </h1> <br/>
</div>
<div class="container">
  <div class="row">
    <% @my_listings.each do |listing| %>
      <div class="col">
        <div class="card mb-5 mt-3" style="width: 30rem;" class="well block margin-bottom-six">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
              <% # <%= image_tag 'vera4.jpg', width: '100%' %>
              <%= listing.images.attached? ? (image_tag listing.images.first, width: "100%", alt: "image here alt text") : (image_tag "placeholder.png", width: "100%") %>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center display-4"><%= listing.name %></h5>
            <p class="card-text">
            <div class="col">
              <p class="text-center"><%= listing.description %>
              </p>
              <p class="text-center"><%= listing.category %>
              </p>
              <p class="text-center"><%= number_to_currency(listing.price) %>
              </p>
              <p> Posted by: <%= listing.user.username %></p>
              <%= listing.user.addresses.first().suburb %>
            </div>
            </p>
            <%= link_to "View Product", listing_path(listing), class: "btn btn-outline-dark btn btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>