




<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">Thanks for Purchasing</h5>
    <p class="card-text">
    <%= @listing.name %><br/>
    <%= image_tag @listing.images.first %><br/>
    $<%= @listing.price %><br/>
    From: <%= @listing.user.username %> 
    </p>
    <%= link_to "Home", listings_path, class: "btn btn-primary" %>
    
  </div>
</div>