<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "LocalMarketplace", root_path, class: "nav-link active navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Create Listing", new_listing_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Listings", listings_list_path, class: "nav-link" %>
        </li>
        </ul>
        <ul class="navbar-nav mr-2">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Details
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Addresses", addresses_path, class: "dropdown-item" %>
              <%= link_to "My Purchases", purchases_index_path, class: "dropdown-item " %>
              <%= link_to "Edit Details", edit_user_registration_path, class: "dropdown-item " %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger m-2 navbar-right" %>
            </div>
          </li>
          <li class="nav-item">
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-dark m-2 navbar-right" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-dark m-2 mr-auto" %>
      <% end %>
      </ul>
      </div>
</nav>