
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <%= link_to "LM", root_path, class: "nav-link active navbar-brand" %>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Create New Product", new_listing_path, class: "btn btn-outline-dark m-2" %>
      </li>
      
        <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark m-2 navbar-right" %>
        </li>
        <li class="nav-item">
        <%= link_to "Edit my Details", edit_user_registration_path, class: "btn btn-outline-dark m-2 navbar-right" %>
      </li>



      <% else %>
      
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-dark m-2 navbar-right" %>
      </li>
      <li>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-dark m-2 mr-auto" %>
      
      <% end %>
      
      </li>
    </ul>
  </div>
  
</nav>